<form class="row m-0 g-3" style="width: 100%;" method="post" action="/add-blog">
    <div class="col-md-6">
        <label for="inputState" class="form-label">Author Name</label>
        <select id="inputState" class="form-select" name="author" required>
            <% for (let author of authors) { %>
                <option value="<%= author.name %>"><%= author.name %></option>
                <% } %>
        </select>
    </div>
    <div class="col-md-6">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" name="title" id="title" required>
    </div>
    <div class="col-md-6">
        <label class="form-label">Description</label>
        <textarea class="form-control" name="description" id="description" cols="10" rows="5" required></textarea>
    </div>
    <div class="col-md-6">
        <label for="inputState" class="form-label">Category</label>
        <select id="inputState" class="form-select" name="category" required>
            <% for (let category of categories) { %>
                <option value="<%= category.category %>"><%= category.category %></option>
                <% } %>

        </select>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Create Blog</button>
    </div>
</form>