<%- include('partials/header'); -%>

  <form action="/signup">
    <h2 class="fw-bold">Sign up</h2>
    <label for="author">Name</label>
    <input type="text" class="form-control" name="author" required />
    <label for="email">Email</label>
    <input type="text" class="form-control" name="email" required />
    <div class="email error"></div>
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" required />
    <div class="password error"></div>
    <button class="mt-3">Sign up</button>
  </form>

  <footer>House of Pixels OPC Pvt Ltd for copyright &#169;</footer>

  <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-auth.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>

  <script>

    var firebaseConfig = {
      apiKey: "AIzaSyBgh9RutpTDCq12QYjpnFq5B7W2PAf4X14",
      authDomain: "pixelate-app-e5126.firebaseapp.com",
      projectId: "pixelate-app-e5126",
      storageBucket: "pixelate-app-e5126.appspot.com",
      messagingSenderId: "880725228002",
      appId: "1:880725228002:web:6f916dddcf955c24daa1bb",
      measurementId: "G-V4KRGLXZ1W"
    };

    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE)

    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passError = document.querySelector('.password.error');

    form.addEventListener('submit', async (e) => {
      e.preventDefault();

      // reset errors
      emailError.textContent = '';
      passError.textContent = '';

      // get values
      const email = form.email.value;
      const password = form.password.value;
      const author = form.author.value;

      try {
        const res = await fetch('/signup', {
          method: 'POST',
          body: JSON.stringify({ email, password, author }),
          headers: { 'Content-Type': 'application/json' }
        });
        const data = await res.json();
        console.log(data);
        if (data.errors) {
          emailError.textContent = data.errors.email;
          passError.textContent = data.errors.password;
        }
        if (data.uid) {
          location.assign('/');
        }
      }
      catch (err) {
        console.log(err);
      }
    });
  </script>

  </body>

  </html>